<script type="text/template" id="championShipList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
		 <th>Inicio Date</th>
		 <th>Fin Date</th>
                 <th>Costo</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(championShips, function(championShip) { %>
    <tr>
		<td><%= htmlEncode(championShip.getDisplay('name')) %></td>
		<td><%= htmlEncode(championShip.getDisplay('startDate')) %></td>
		<td><%= htmlEncode(championShip.getDisplay('endDate')) %></td>
               
                <td><a onclick="Backbone.trigger('<%= componentId %>-championchip-costo',{id:<%= championShip.id %>}); return false" >Calcular Costo</a></td> 
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-championShip-edit',{id:<%= championShip.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-championShip-delete',{id:<%= championShip.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="championShip">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-championShipForm">
    <% if(championShip.id) {%>
    <input type="hidden" name="id" value="<%= championShip.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Introduzca el nombre del campeonato" value="<%= championShip.get('name') %>"/>	
		</div>
		<div class="form-group" >
			<label for="startDate">Fecha de Inicio</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="startDate"  name="startDate" placeholder="Introduzca la fecha de inicio" />
    		<%= '<scr'+'ipt>' %>
        	$('#startDate').datepicker({autoclose:true});
        	$('#startDate').datepicker('setDate',App.Utils.Converter.date.toDate("<%= championShip.get('startDate') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
			<label for="endDate">Fecha finalizacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="endDate"  name="endDate" placeholder="Introduzca la fecha de finalizacion" />
    		<%= '<scr'+'ipt>' %>
        	$('#endDate').datepicker({autoclose:true});
        	$('#endDate').datepicker('setDate',App.Utils.Converter.date.toDate("<%= championShip.get('endDate') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
    </form>
    </div>
</script> 