<script type="text/template" id="countryList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
		 <th>Poblacion</th>
                 <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(countrys, function(country) { %>
    <tr>
		<td><%= htmlEncode(country.getDisplay('name')) %></td>
		<td><%= htmlEncode(country.getDisplay('population')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-country-edit',{id:<%= country.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-country-delete',{id:<%= country.id %>}); return false" >Borrar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="country">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-countryForm">
    <% if(country.id) {%>
    <input type="hidden" name="id" value="<%= country.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Introduzca un nombre" value="<%= country.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="population">Poblacion</label>
    	<input type="text" class="form-control" id="population" name="population" placeholder="Introduzca la poblacion" value="<%= country.get('population') %>"/>	
		</div>
    </form>
    </div>
</script> 