<script type="text/template" id="sportList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
         <th>Name</th>
         <th>Min Age</th>
         <th>Max Age</th>
                 <th>Calcular Promedio</th>
                 <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(sports, function(sport) { %>
    <tr>
        <td><%= htmlEncode(sport.getDisplay('name')) %></td>
        <td><%= htmlEncode(sport.getDisplay('minAge')) %></td>
        <td><%= htmlEncode(sport.getDisplay('maxAge')) %></td>
                <td><a onclick="Backbone.trigger('<%= componentId %>-sport-show-average',{maxAge:<%= htmlEncode(sport.getDisplay('maxAge')) %>,minAge:<%= htmlEncode(sport.getDisplay('minAge')) %>}); return false;" >Ver Promedio</a></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-sport-edit',{id:<%= sport.id %>}); return false" >Edit</a> |
    <% } %>
    <% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-sport-delete',{id:<%= sport.id %>}); return false" >Delete</a>
    <% } %>
    </td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="sport">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-sportForm">
    <% if(sport.id) {%>
    <input type="hidden" name="id" value="<%= sport.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= sport.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="minAge">Min Age</label>
    	<input type="text" class="form-control" id="minAge" name="minAge" placeholder="Enter value" value="<%= sport.get('minAge') %>"/>	
		</div>
		<div class="form-group" >
		<label for="maxAge">Max Age</label>
    	<input type="text" class="form-control" id="maxAge" name="maxAge" placeholder="Enter value" value="<%= sport.get('maxAge') %>"/>	
		</div>
    </form>
    </div>
</script> 

<script type="text/template" id="sportPromedioList">
    <div class="panel panel-default">
    <!-- La información se va a presentar en una tabla -->
    <table class="table striped">
<!-- Estos son los encabezados de la tabla para cada campo del model (estos se visualizan) -->
    <thead>
    <tr>
         <th>Nombre</th>
         <th>Promedio</th>
    </tr>
    </thead>
    <tbody>
<!-- Aqui se renderizan los modelos existentes en el modelo de la lista sports. Note el uso de javascript en el interior de los tags <% %> (en este caso un bucle que toma cada ítem de la lista ‘sports’). La variable ‘sports’ será instanciada por el controlador (se verá más adelante) -->
    <% _.each(sports, function(sport) { %>
<!-- Se hace un nuevo <tr> por cada elemento en la lista-->
    <tr>
            <td><%= htmlEncode(sport.getDisplay('name')) %></td>
            <!-- esta instrucción indica qué campo del elemento actual del bucle se debe mostrar en ese lugar (cada <td> es una columna)>  -->
            <td><%= htmlEncode(sport.getDisplay('average')) %></td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

